<div class="pageDiv" th:fragment="html">
    <nav>
        <ul class="pagination">
            <li :class="{ disabled: pagination.first }">
                <a  href="#nowhere" @click="jump('first')">«</a>
            </li>
            <li :class="{ disabled: pagination.first }">
                <a  href="#nowhere" @click="jump('pre')">‹</a>
            </li>

            <li  v-for="i in pagination.navigatepageNums" :class="{ disabled: i==(pagination.number+1) }">
                <a href="#nowhere" @click="jumpByNumber(i-1)" >
                    {{i}}
                </a>
            </li>

            <li :class="{ disabled: pagination.last }">
                <a  href="#nowhere" @click="jump('next')">›</a>
            </li>
            <li :class="{ disabled: pagination.last }">
                <a  href="#nowhere" @click="jump('last')"> »</a>
            </li>
            <li>
                <select @change="ChangePageSize" id="pageSizeId" v-model="pagination.pageSize" class="form-control" style="display:inline-table !important;width:65px;">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </li>
        </ul>
    </nav>
</div>